/* 
    Document   : kiosk
    Created on : Jul 17, 2013, 9:52:29 AM
    Author     : akersten
    Description:
        Purpose of the stylesheet follows.
*/



/*
 * Stretched background image for the body - keeps the buttons percentage-wise
 * where they should be. Since we explicitly choose the background image size
 * to match the Kiosk's hardware aspect ratio, this solution will allow us to
 * account for small variations in viewport size like toolbars. Won't be pretty
 * on displays of aspect ratios, but it'll get the job done (and we don't have a
 * good way to scale the button positions for other sizes anyway).
 */
body {
    background: url('../img/fountain.jpg') no-repeat center center fixed;
    background-size: 100% 100%;
}

/*
 * Since our valve positions are given in xy of the actual valve, we'll want to
 * center the button on that point. So offset us by -50% in each direction. Also
 * these buttons are round and we'll apply that style here.
 */
.valveButton {
    position: relative;
    display: block;
    background-color: #EEE;
    left: -32px;
    top: -32px;
    border-radius: 50%;
    height: 64px;
    width: 64px;
}

.idle {
    animation-name: idleGlow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier;
}

@keyframes idleGlow {
    from {
    box-shadow: 0px 0px 0px #000;
    
}
to {
    box-shadow: 0px 0px 0px #000;
}

50% {
    box-shadow: 0px 0px 24px #9acbfd;
    background-color: #deeeff;
}
}

